.section__card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.card-list__card {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px rgba(238, 238, 238, 1);
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .card__link:hover & {
    transform: translateY(0);
  }
}

.card__txt {
  width: 322px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.card__link {
  display: block;
  border: 1px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__about {
  padding: 20px 24px;
}

.card__name-project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.card__project-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
