.modal__title-policy {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-text-color);
}

.modal__custom-check {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--main-border-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox-policy__input:checked + & {
    background-color: var(--accent-color);
    border-color: transparent;
    background-origin: border-box;
  }
  .checkbox-policy__input:focus + & {
    border-width: 3px;
  }
}

.checkbox-policy__input {
  cursor: pointer;
}

.checkbox-policy__link-policy {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.checkbox-policy__span {
  margin-left: 4px;
}
