.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer__mail {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &::after {
    content: "";
    left: 0;
    bottom: 5px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 1, 0.2, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}

.footer__telephone {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  border-bottom: solid 1px transparent;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &::after {
    content: "";
    left: 0;
    bottom: 5px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 1, 0.2, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}
