.ft-link {
  display: inline-flex;
  padding-top: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ft-link span {
  display: inline-flex;
  line-height: 0.8;
}

.ft-link:hover,
.ft-link:focus {
  border-color: #ffffff;
}

.studio-ft {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
