.header__contacts {
  display: flex;
  align-items: center;
}

.header__mail {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 50px;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mail__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentcolor;
}

.header__mail::after {
  content: "";
  position: absolute;
  left: 25px;
  bottom: 33px;
  width: 85%;
  height: 1px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mail:hover::after {
  opacity: 1;
}

.header__telephone {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.telephone__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentcolor;
}

.header__telephone::after {
  content: "";
  position: absolute;
  left: 19px;
  bottom: 35px;
  width: 87%;
  height: 1px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__telephone:hover::after {
  opacity: 1;
}
