.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-backdrop-color);
  transition: opacity 1000ms, visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  .backdrop.is-hidden & {
    transform: scale(1.5) rotate(180deg) translate(1000px);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
