html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default-color);
  background-color: var(--background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
