.some-hidden {  
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}