:root {
  --main-title-color: rgba(255, 255, 255, 1);
  --default-color: rgba(0, 0, 0, 1);
  --second-title-color: rgba(33, 33, 33, 1);
  --main-text-color: rgba(117, 117, 117, 1);
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: rgba(33, 150, 243, 1);
  --active-page-color: rgba(33, 150, 243, 1);
  --background-color: rgba(255, 255, 255, 1);
  --second-background-color: rgba(47, 48, 58, 1);
  --thirst-background-color: rgba(245, 244, 250, 1);
  --main-border-color: rgba(0, 0, 0, 1);
  --second-border-color: rgba(117, 117, 117, 1);
  --modal-backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-input-color: rgba(33, 33, 33, 0.2);
  --btn-background-color: rgba(33, 150, 243, 1);
  --btn-hover-color: rgba(24, 140, 232, 1);
  --main-font: roboto;
  --second-font: Raleway;
}
