.footer {
  background-color: var(--second-background-color);
  max-width: 1600px;
  margin: 0 auto;
}
.flex-ft {
  display: flex;
  justify-content: left;
}

.our-contacts {
  margin-right: 70px;
}

.social-block {
  padding-bottom: 97px;
  padding-top: 72px;
}

.subscription {
  padding-top: 72px;
  margin-left: 93px;
}
