.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

.modal_label-input {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-border-color);
}

.modal__input-container {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  color: var(--second-title-color);
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
  .modal__form-input:focus + & {
    color: var(--accent-color);
  }
}

.modal__form-input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid var(--modal-input-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__textarea {
  margin-bottom: 20px;
}

.modal__checkbox-policy {
  padding-left: 12px;
  margin-bottom: 30px;
}
